VITE_FIREBASE_API_KEY=npm install firebase

VITE_FIREBASE_AUTH_DOMAIN=npm install firebase

VITE_FIREBASE_PROJECT_ID=npm install firebase

VITE_FIREBASE_STORAGE_BUCKET=npm install firebase

VITE_FIREBASE_MESSAGING_SENDER_ID=npm install firebase

VITE_FIREBASE_APP_ID=    npm install firebase  #VITE_FIREBASE_API_KEY=AIzaSyAC9208GGsz8EbKQ5vj-PiyoZ_Y87HcqII
VITE_FIREBASE_AUTH_DOMAIN=medvision-85707.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medvision-85707
VITE_FIREBASE_STORAGE_BUCKET=medvision-85707.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=72739064213
VITE_FIREBASE_APP_ID=1:72739064213:web:f4625cc6a78b4c28e9cVITE_FIREBASE_API_KEY=...
VITE_FIREBASE_AUTH_DOMAIN=...
VITE_FIREBASE_PROJECT_ID=...
VITE_FIREBASE_STORAGE_BUCKET=...
VITE_FIREBASE_MESSAGING_SENDER_ID=...
VITE_FIREBASE_APP_ID=...
VITE_FIREBASE_MEASUREMENT_ID=...medvision-85707

